@import 'component/variables';
@import 'component/base';
@import 'component/contact';
@import 'component/conversation';
@import 'component/openable-tab';
@import 'component/topics';
@import 'component/topper';
@import 'component/write-bar';


div.cmd-chat {

	width: 100%;
	position: fixed;
	bottom: 0;
	right: 0;

	div.cmd-chat-bar-container {

		float: right;
		display: inline-flex;
		align-items: flex-end;

		div.cmd-chat-list-container {

		    ul.cmd-chat-list {
		        padding: 0;
		        margin: 0;
		    }

		}

	}
}