html body {
	height: auto;
	padding-bottom: 30px;
}

div.cmd-chat {

	width: 100%;
	position: fixed;
	bottom: 0;
	right: 0;

	div.cmd-chat-bar-container {

		$chat-width: 300px;
		float: right;

        a.cmd-chat-bar {

			width: $chat-width;
			border-bottom-width: 1px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			padding-bottom: 6px;

		}

		div.cmd-chat-list-container {

		    ul.cmd-chat-list {
		        padding: 0;
		        margin: 0;

                a.cmd-chat-list-contact {

                    display: block;
                    padding: 5px 5px 1px 6px;
                    color: #869cad;
                    border: 2px solid #869cad;
                    border-top-width: 1px;
                    border-bottom-width: 1px;
                    background-color: #FFF;

                    &:hover, &:focus {
                        background-color: #e6e6e6;
                    }

                    .user-icon {
                        display: inline-block;
                    }

                    .user-name {
                        position: absolute;
                        margin: 5px 6px;
                    }
                }

		    }

		}

	}
}