html body {
	height: auto;
	padding-bottom: 30px;
}

div.cmd-chat {

	width: 100%;
	position: fixed;
	bottom: 0;
	right: 0;

	div.cmd-chat-bar-container {

		$chat-width: 300px;
		float: right;

        a.cmd-chat-bar {

			width: $chat-width;
			border-bottom-width: 1px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			padding-bottom: 6px;

		}

		div.cmd-chat-list-container {

		    ul.cmd-chat-list {
		        padding: 0;
		        margin: 0;

				.cmd-chat-list-item {

                    display: block;
                    padding: 5px 5px 4px 7px;
                    color: #869cad;
                    border: 2px solid #869cad;
                    border-top-width: 1px;
                    border-bottom-width: 1px;
                    background-color: #FFF;

                	&.cmd-chat-view-all {
						height: 36px;
						padding: 0 2px;
					}

				    &:hover, &:focus {
                        background-color: #e6e6e6;
                    }

                    .user-icon img {
                        width: 35px;
						border-radius: 5px;
						box-shadow: 1px 1px 1px;
                    }

                    .user-name {
                        position: absolute;
                        margin: 6px 8px;
                    }
                }

		    }

		}

	}
}