.unreads {
	background-color: $unreads-background;
	color: $unreads-color;
	border-radius: 5px;
	position: absolute;
}

.cmd-chat-unread-message {
	background-color: $unreads-background;
	color: $unreads-color;
	padding: 1px 3px;
	position: absolute;
	left: -12px;

	.lexicon-icon-envelope-closed {
		margin-bottom: 1px;
		padding-bottom: 1px;
	}
}

.cmd-chat-list-contact-unreads {
	font-size: 12px;
	border-radius: 7px;
	line-height: 14px;
	padding: 1px 4px;
	right: -4px;
	top: -9px;
}

.cmd-topic-container-unreads {
	padding: 0px 5px;
	left: 5px;
	top: 5px;
}