$bg-color: #FFF;
$palette-color1: #869cad;
$palette-color2: #365D9E;
$palette-color3: #44A5AA;

$offline-user-color: darkgrey;
$online-user-color: limegreen;

$unreads-background: firebrick;
$unreads-color: white;